* {
  background: transparent;
  border: 0;
  border-collapse: collapse;
  border-image: none;
  border-radius: 0;
  border-spacing: 0;
  box-shadow: none;
  box-sizing: border-box;
  clear: none;
  clip: auto;
  cursor: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  height: auto;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  outline: none;
  outline-offset: 0;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  width: auto;
  word-break: normal;
  word-spacing: normal;
  word-wrap: break-word;
  vertical-align: baseline;
  z-index: auto;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
html * {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  cursor: inherit;
  text-transform: inherit;
  white-space: inherit;
  word-break: inherit;
  word-spacing: inherit;
  word-wrap: inherit;
}
a,
br,
em,
img,
input,
label,
select,
span,
strong,
textarea {
  display: inline;
}
div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
ul,
display block,
a {
  text-decoration: none;
}
div:link,
form:link,
h1:link,
h2:link,
h3:link,
h4:link,
h5:link,
h6:link,
li:link,
ol:link,
ul:link,
display block:link,
a:link,
div:visited,
form:visited,
h1:visited,
h2:visited,
h3:visited,
h4:visited,
h5:visited,
h6:visited,
li:visited,
ol:visited,
ul:visited,
display block:visited,
a:visited,
div:hover,
form:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
li:hover,
ol:hover,
ul:hover,
display block:hover,
a:hover {
  text-decoration: none;
}
a:not([id]):not([class]) {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: none;
}
a:not([id]):not([class]):link,
a:not([id]):not([class]):visited {
  text-decoration: none;
}
a:not([id]):not([class]):hover {
  text-decoration: none;
  border-bottom-style: solid;
}
img {
  max-width: 100%;
  height: auto;
  width: auto 9;
}
ul,
ol {
  list-style: circle outside;
}
ul li,
ol li {
  list-style: inherit;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
  background: transparent !important;
  background-color: transparent !important;
  background-image: none !important;
  color: inherit !important;
}
input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 5px 10px;
  height: 30px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #e6e6e6;
}
input[type="text"]:not([disabled]):hover,
input[type="password"]:not([disabled]):hover,
textarea:not([disabled]):hover {
  border: 1px solid #cdcdcd;
}
input[type="text"]:not([disabled]):focus,
input[type="password"]:not([disabled]):focus,
textarea:not([disabled]):focus {
  border: 1px solid #b3b3b3;
}
textarea {
  resize: vertical;
}
.line {
  position: relative;
  float: left;
  width: 100%;
  clear: both;
}
.line .columns .column {
  float: left;
}
.line .columns.columns2 > .column2 {
  width: 100%;
}
.line .columns.columns2 > .column1 {
  width: 50%;
}
.line .columns.columns3 > .column3 {
  width: 100%;
}
.line .columns.columns3 > .column2 {
  width: 66%;
}
.line .columns.columns3 > .column1 {
  width: 33%;
}
.line .columns.columns4 > .column4 {
  width: 100%;
}
.line .columns.columns4 > .column3 {
  width: 75%;
}
.line .columns.columns4 > .column2 {
  width: 50%;
}
.line .columns.columns4 > .column1 {
  width: 25%;
}
.centered {
  position: relative;
  margin: 0 auto;
  width: 100%;
  clear: both;
}
.dotted {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  cursor: pointer;
}
.dotted:hover {
  border-bottom-style: solid;
}
.t-left {
  text-align: left;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.t-justify {
  text-align: justify;
}
table.e-center {
  width: 100%;
  height: 100%;
}
table.e-center > thead > tr > td,
table.e-center > thead > tr > th,
table.e-center > tbody > tr > td,
table.e-center > tbody > tr > th {
  vertical-align: middle;
}
table.table-schema > tbody > tr {
  vertical-align: middle;
}
table.table-schema > thead > tr > th,
table.table-schema > tbody > tr > th {
  font-weight: bold;
}
table.table-schema > thead > tr > th,
table.table-schema > thead > tr > td,
table.table-schema > tbody > tr > th,
table.table-schema > tbody > tr > td {
  padding: 10px 5px;
  min-height: 20px;
  vertical-align: middle;
}
table.table-schema.table-contents {
  border: 1px solid #dedede;
}
table.table-schema.table-contents > thead > tr > th,
table.table-schema.table-contents > thead > tr > td {
  background: #fff;
}
table.table-schema.table-contents > thead > tr > th,
table.table-schema.table-contents > thead > tr > td,
table.table-schema.table-contents > tbody > tr > th,
table.table-schema.table-contents > tbody > tr > td {
  border-bottom: 1px solid #cecece;
}
table.table-schema.table-contents > tbody > tr:nth-child(even) > th,
table.table-schema.table-contents > tbody > tr:nth-child(odd) > th {
  background: #fff;
}
table.table-schema.table-contents > tbody > tr:nth-child(even) > td {
  background: #f1f1f1;
}
table.table-schema.table-contents > tbody > tr:nth-child(odd) > td {
  background: #f5f5f5;
}
