$default = helvetica, arial, sans-serif;

html
  position relative

*
  -webkit-margin-before 0
  -webkit-margin-after 0
  -webkit-margin-start 0
  -webkit-margin-end 0

body
  position relative
  border 0
  border-collapse collapse
  border-color transparent
  border-spacing 0
  border-style none
  border-width 0
  box-sizing border-box
  color #000
  height auto
  letter-spacing normal
  line-height normal
  margin 0
  outline none
  outline-color transparent
  outline-style none
  outline-width 0
  padding 0
  text-align left
  text-decoration none
  text-indent 0
  text-shadow none
  text-transform none
  white-space normal
  width auto
  word-spacing normal
  font-family $default
  font-size 14px
  & *
    text-align inherit
    font-family inherit
    font-size inherit
    border-collapse inherit
    border-color inherit
    border-spacing inherit
    box-sizing inherit
    color inherit
    letter-spacing inherit
    line-height inherit
    outline-color inherit
    white-space inherit
    word-spacing inherit

  a
    text-decoration none
    &:link
    &:visited
    &:hover
      text-decoration none

  a:not([class]):not([id])
    text-decoration none
    border-bottom 1px solid transparent
    &:link
    &:visited
      text-decoration none
    &:hover
      text-decoration none
      border-bottom 1px solid

  table
    &.e-center
      width 100%
      height 100%
      & > tbody > tr > td
        vertical-align middle

  .line
    position relative
    float left
    width 100%
    clear both

  .centered
    position relative
    margin 0 auto
    width 100%
    clear both

  .main
    text-align center
    .main-in
      line-height 30px
      .h1
        font-size 24px
        text-transfrom uppercase
        margin-bottom 10px
      .h2
        font-size 18px
        margin-bottom 10px
      .content
        line-height 20px
        padding 5px 0
        & *
          vertical-align middle
        p
          &:not(:last-child)
            margin-bottom 10px

        .loading
          max-height 30px
          margin-right 10px