@-moz-keyframes checkbox-uncheck {
  from {
    top: -45px;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes checkbox-uncheck {
  from {
    top: -45px;
  }
  to {
    top: 0;
  }
}
@-o-keyframes checkbox-uncheck {
  from {
    top: -45px;
  }
  to {
    top: 0;
  }
}
@keyframes checkbox-uncheck {
  from {
    top: -45px;
  }
  to {
    top: 0;
  }
}
@-moz-keyframes checkbox-check {
  from {
    top: 0;
  }
  to {
    top: 45px;
  }
}
@-webkit-keyframes checkbox-check {
  from {
    top: 0;
  }
  to {
    top: 45px;
  }
}
@-o-keyframes checkbox-check {
  from {
    top: 0;
  }
  to {
    top: 45px;
  }
}
@keyframes checkbox-check {
  from {
    top: 0;
  }
  to {
    top: 45px;
  }
}
@-moz-keyframes hint-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes hint-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes hint-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hint-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes hint-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes hint-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes hint-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hint-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
