s = 1px

$name = checkbox-uncheck
@keyframes {$name}
  from
    top -45*s
  to
    top 0

$name = checkbox-check
@keyframes {$name}
  from
    top 0
  to
    top 45*s

$name = hint-show
@keyframes {$name}
  from
    opacity 0
  to
    opacity 1

$name = hint-hide
@keyframes {$name}
  from
    opacity 1
  to
    opacity 0