@import url('reset.css');
@import url('my.css');

@font-face {
  font-family: 'PT Sans Narrow';
    src: url('../fonts/PTSans-Narrow.eot');
    src: url('../fonts/PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSans-Narrow.woff') format('woff'),
         url('../fonts/PTSans-Narrow.ttf') format('truetype'),
         url('../fonts/PTSans-Narrow.svg') format('svg');
}

@font-face {
  font-family: 'PT Sans Narrow';
    src: url('../fonts/PTSans-NarrowBold.eot');
    src: url('../fonts/PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSans-NarrowBold.woff') format('woff'),
         url('../fonts/PTSans-NarrowBold.ttf') format('truetype'),
         url('../fonts/PTSans-NarrowBold.svg') format('svg');
    font-weight: bold;
}

$default = Arial, Helvetica, sans-serif
$ptsansnarrow = 'PT Sans Narrow', $default
s = 1px

html, body
  font lighter 16*s $ptsansnarrow
  line-height 1

.centered
  width 100%
  margin 0 auto
  position relative

a
  text-decoration none
  &:link
    text-decoration none
  &:visited
    text-decoration none
  &:hover
    text-decoration none

a:not([class]):not([id])
  text-decoration underline
  cursor pointer
  &:link
    text-decoration underline
  &:visited
    text-decoration underline
  &:hover
    text-decoration none

.table-schema
  & > tbody > tr
    vertical-align middle
  & > tbody > tr > td
  & > tbody > tr > th
  & > thead > tr > td
  & > thead > tr > th
    padding 10*s 5*s
    vertical-align middle
    & > span > *
      vertical-align baseline
  & > tbody > tr > td
  & > tbody > tr > th
  & > thead > tr > td
  & > thead > tr > th
    min-height 20*s
  & > tbody > tr > th
  & > thead > tr > th
    font-weight bold
  & > tbody
    &.tbody-lowpadding
      & > tr
        & > td
        & > th
          padding-top 3*s
          padding-left 5*s
          padding-right 5*s
          padding-bottom 3*s
        &:first-child
          & > td
          & > th
            padding-top 10*s !important
        &:last-child
          & > td
          & > th
            padding-bottom 10*s !important
      &:first-child
        & > tr
          &:first-child
            & > td
            & > th
              padding-top 10*s !important
      &:last-child
        & > tr
          &:last-child
            & > td
            & > th
              padding-bottom 10*s !important

.table-contents
  border 1*s solid #dedede
  &:not(:last-child)
    margin-bottom 40*s
  & > thead > tr > th
  & > thead > tr > td
    background #fff
  & > tbody > tr > td
  & > thead > tr > td
  & > tbody > tr > th
  & > thead > tr > th
    border-bottom 1*s solid #cecece
  & > tbody > tr:nth-child(even) > td
  & > tbody > tr:nth-child(even) > th
    background #f1f1f1
  & > tbody > tr:nth-child(odd) > td
  & > tbody > tr:nth-child(odd) > th
    background #f5f5f5

.table-params
  &:not(:last-child)
    margin-bottom 40*s
  & > tbody > tr > td
  & > thead > tr > td
  & > tbody > tr > th
  & > thead > tr > th
    border-bottom 1*s dotted #cecece
  & > tbody > tr > td
  & > thead > tr > td
    padding 5*s
    vertical-align middle
  & > tbody > tr > td:nth-child(1)
  & > thead > tr > td:nth-child(1)
  & > tbody > tr > th:nth-child(1)
  & > thead > tr > th:nth-child(1)
    width 40%
  & > tbody > tr > td:nth-child(3)
  & > thead > tr > td:nth-child(3)
  & > tbody > tr > th:nth-child(3)
  & > thead > tr > th:nth-child(3)
    width 20%
    font-weight bold
    text-align right

input[type="text"],
input[type="password"],
textarea
  width 100%
  font-size 16*s
  font-family $opensans
  font-weight 200
  padding 0 20*s
  height 45*s
  text-align left
  border-radius 3*s
  background white
  border 1*s solid #e6e6e6
  color #2c2c2c
  &:not([disabled]):hover
    border 1*s solid darken(#e6e6e6, 10)
  &:not([disabled]):focus
    border 1*s solid darken(#e6e6e6, 20)

.select
  position relative
  float left
  width 100%
  height 100%
  border-radius 3*s
  border 1*s solid #e6e6e6
  background url(../img/form-select-bg.jpg) center left
  &:hover
    border 1*s solid darken(#e6e6e6, 10)
    .button
      border-left 1*s solid darken(#e6e6e6, 10)
  &:focus
    border 1*s solid darken(#e6e6e6, 20)
    .button
      border-left 1*s solid darken(#e6e6e6, 20)
  select
    -webkit-appearance none
    background transparent
    position relative
    float left
    z-index 10
    margin 0 1*s
    padding 0 45*s 0 20*s
    font-size 16*s
    width 100%
    height 100%
    text-align left
    color #2c2c2c
  .button
    position absolute
    z-index 5
    right 0
    top 0
    height 100%
    width 45*s
    border-left 1*s solid #e6e6e6
    background url(../img/form-select-corner.png) center center no-repeat

.checkbox
  position relative
  float left
  width 100%
  height 100%
  .field
    position absolute
    top 0
    left 0
    z-index 5
    height 100%
    width 45*s
    border-radius 3*s
    background white
    border 1*s solid #e6e6e6
    color #2c2c2c
    line-height 1
    overflow hidden
    &:not([disabled]):hover
      border 1*s solid darken(#e6e6e6, 10)
    &:not([disabled]):focus
      border 1*s solid darken(#e6e6e6, 20)
    label
      position absolute
      z-index 10
      width 100%
      height 100%
    .checked
      -webkit-animation-name checkbox-check
      -webkit-animation-duration .2s
      -webkit-animation-timing-function ease
      animation-name checkbox-check
      animation-duration .2s
      animation-timing-function ease
      top 45*s
      position absolute
      width 45*s
      height 45*s
      background url(../img/form-checkbox.png) center center no-repeat
    input[type="checkbox"]
      display none
      &:checked ~ .checked
        top 0
        -webkit-animation-name checkbox-uncheck
        -webkit-animation-duration .2s
        -webkit-animation-timing-function ease
        animation-name checkbox-uncheck
        animation-duration .2s
        animation-timing-function ease
  .label
    position relative
    float left
    padding-left 55*s
    width 100%
    height 100%
    &:hover ~ .field
      border 1*s solid darken(#e6e6e6, 10)
    &:focus ~ .field
      border 1*s solid darken(#e6e6e6, 20)

textarea
  text-align left
  padding 12*s 20*s

.btn
  display inline-block
  word-wrap break-word
  border-top-left-radius 3*s
  border-top-right-radius 3*s
  border-bottom-left-radius 3*s
  border-bottom-right-radius 3*s
  border 1*s solid white
  text-decoration none
  text-align center
  font-size 14*s
  font-weight bold
  line-height 1
  text-transform uppercase
  font-family $opensans
  color #f0ffed
  height 45*s
  padding 3*s 14*s 0 14*s
  text-align center
  border 0
  border-bottom 3*s solid #25731c
  background #318b26
  & > img
    max-height 80%
    margin-right 5*s
  &:not([disabled]):hover
    border 0
    border-bottom 3*s solid darken(#25731c, 10)
    background darken(#318b26, 10)
    box-shadow 0 0 4*s rgba(255,255,255, 0.75)
  &:not([disabled]):active
    border 0
    border-bottom 3*s solid lighten(#25731c, 20)
    background lighten(#318b26, 20)
    box-shadow 0 0 6*s rgba(255,255,255, 0.95)
  &:not([disabled])
    cursor pointer
  &:hover,
  &.active
    text-decoration none
  span,
  img,
  i
    vertical-align middle
  span > *
    vertical-align baseline
  &:not(:first-child)
    margin-left 5*s
  &.btn-top
    border-top-left-radius 0
    border-top-right-radius 0
  &.btn-left
    border-top-left-radius 0
    border-bottom-left-radius 0
  &.btn-right
    border-top-right-radius 0
    border-bottom-right-radius 0
  &.btn-bottom
    border-bottom-left-radius 0
    border-bottom-right-radius 0

#sp
  #background
    background-image url(../img/main-bg.jpg)
    background-repeat no-repeat
    background-position top center
    background-color #f1f1f1

  #top
    .sheet
      position relative
      background #f8f8f8
      padding-top 20*s
      box-shadow 0 10*s 16*s rgba(0,0,0,.65)
      &:not(:last-child)
        margin-bottom 20*s

      .sheet-header
        float left
        .h2
          h2
            float left
            padding-left 25*s
            padding-right 20*s
            background black
            color white
            text-transform uppercase
            font-size 32*s
        .h3
          margin-top 6*s
          margin-bottom 6*s
          h3
            clear both
            float left
            padding-left 25*s
            font-size 22*s

    #messages
      z-index 5000
      float left
      margin-top 10*s
      margin-left 10*s
      width 400*s
      position fixed
      text-align center
      font-size 0
      line-height 0
      .item
        font-size 14*s
        line-height 1.25
        display inline-block
        background white
        border-right 4*s solid #28f
        box-shadow 0 2*s 6*s rgba(0,0,0,0.35)
        width 100%
        margin-bottom 10*s
        opacity 1
        .e-center
          td
            text-align left
            padding 5*s
          td:first-child
            vertical-align top
            width 40*s
            line-height inherit
            font-size 200%
        &.success
        &.ok
          border-right 4*s solid #2f8
          .e-center
            td:first-child
              color #fff
              background #2f8
        &.message
        &.note
          border-right 4*s solid #28f
          .e-center
            td:first-child
              color #fff
              background #28f
        &.fail
        &.error
          border-right 4*s solid #f88
          .e-center
            td:first-child
              color #fff
              background #f88

    #header
      float left
      width 100%
      margin-bottom 250px
      h1
        float left
        height 30*s
        line-height 30*s
        font-weight bold
        text-transform uppercase
        letter-spacing .1em
        padding-left 25*s
      .socials
        float right
        height 30*s
        line-height 30*s
        .social
          display block
          float left
          height 100%
          padding 0 5px
          font-size 20*s
          transition background-color .2s ease, color .2s ease
          -webkit-transition background-color .2s ease, color .2s ease
          -moz-transition background-color .2s ease, color .2s ease
          color black
          &.vk
            color #45668e
            &:hover
              color white
              background #45668e
          &.skype
            color #12A5F4
            &:hover
              color white
              background #12A5F4
          &.phone
            color black
            &:hover
              color white
              background black
          &.gmail
            color #b23121
            &:hover
              color white
              background #b23121
          &:not(:last-child)
            margin-right 5px
    #index
      float left
      width 100%
      .begin
        margin-top 100px
        position relative
        padding-bottom 20px
        margin-bottom 10px
        .blockquote
          float right
          position relative
          margin-right 50*s
          width 250*s
          height 100*s
          .quotes
            overflow hidden
            position absolute
            top -90*s
            left 0
            bottom 0
            right 0
            z-index 10
            color #dedede
            font-size 400*s
            text-align right
            font-style italic
            font-family "Times New Roman"
            .quote:nth-child(1)
              vertical-align top
              position absolute
              top 0
              left 50*s
            .quote:nth-child(2)
              vertical-align top
              position absolute
              top 0
              left 100*s
          .message
            float left
            position relative
            z-index 15
            .text
              font-size 20*s
              color #818181
              margin-bottom 15*s
            .author
              color #919191
              font-size 18*s
              text-align right
        .photoborder
          position absolute
          top -200*s
          left 50%
          margin-left -100*s
          border-radius 100*s
          width 200*s
          height 200*s
          border 4*s solid white
        .photo-input
          display none
          &:checked ~ .photo-label
            border 4*s solid white
            transform scale(2)
        .photo-label
          position absolute
          top -200*s
          left 50%
          margin-left -100*s
          border-radius 100*s
          width 200*s
          height 200*s
          border 4*s solid white
          background-size 200px 200px
          background-repeat no-repeat
          background-position center center
          background-image url(../img/photo600.jpg)
          background-color #f8f8f8
          box-shadow inset 0 0 10px rgba(0,0,0,0.35)
          transition transform .2s ease
          -webkit-transition transform .2s ease
          -moz-transition transform .2s ease
          &:hover
            cursor pointer
            box-shadow inset 0 0 10px rgba(0,0,0,0.35), 0 0 10*s rgba(18, 165, 244, 0.65)
      .tab-contents
        .controls
          float left
          overflow hidden
          background #f8f8f8
          .tab-label
            position relative
            z-index 5
            float left
            display inline
            height 45*s
            padding 10*s
            line-height 25*s
            text-transform uppercase
            letter-spacing .1em
            cursor pointer
            background #c1c1c1
            color #555
            span
              transition color .2s ease
              -webkit-transition color .2s ease
              -moz-transition color .2s ease
            &:hover
              span
                border-bottom-width 1*s
                border-bottom-style dotted
                border-bottom-color black
            &.active
              z-index 10
              background #f8f8f8
              box-shadow 0 -10*s 12*s rgba(0,0,0,0.35)
              color red
              span
                border-bottom-width 0
        .scene
          position relative
          overflow hidden
          .tab-content
            position absolute
            float left
            width 100%
            transition opacity .5s ease-out
            -webkit-transition opacity .5s ease-out
            -moz-transition opacity .5s ease-out
            opacity 0
            z-index 5
            &.active
              opacity 1
              z-index 10
              position relative

      i
        margin-right 5*s

      .row
        padding 0 25*s
        margin-bottom 40*s
        .row-header
          font-weight bold
          font-size 22*s
          margin-bottom 20*s

      .point
        margin-bottom 8*s
        i
          vertical-align -2*s

      .work
        float left
        width 50%
        margin-bottom 20*s
        p
          margin-bottom 8*s
        .work-image
          float left
          margin-right 10*s
          .photo-wrapper
            display block
            float left
            width 200*s
            height 200*s
            text-align center
            transition transform .6s ease
            -webkit-transition transform .6s ease
            -moz-transition transform .6s ease
            transform scale(0.85)
            &:hover
              transform scale(1)
          .photo-promise-shadow
            position absolute
            z-index 1
            content ""
            bottom 0
            left 50%
            margin-left -50*s
            width 100*s
            height 20*s
            border-radius 50*s 10*s
            background rgba(0,0,0,0.15)
            box-shadow 0 0 10px 5px rgba(0,0,0,0.15)
          .photo-outer-border
            position relative
            z-index 2
            width 200*s
            height 200*s
            background white
            box-shadow 0 0 0 rgba(0,0,0,0)
            border 1*s solid #cecece
            border-radius 100*s
            &:hover
              box-shadow 0 0 10*s rgba(18, 165, 244, 0.65)
          .photo-inner
            width 190*s
            height 190*s
            margin 5*s
            border-radius 95*s
            position relative
            overflow hidden
            .photo-inner-shadow
              position absolute
              top 0
              left 0
              z-index 10
              box-shadow inset 0 0 6px rgba(0,0,0,0.35)
              width 190*s
              height 190*s
              border-radius 94*s
            .photo
              position relative
              background #f1f1f1
              z-index 5
              float left
              width 100%
              height 100%
              img
                position relative
                z-index 10
                box-shadow 0 0 4*s rgba(0,0,0,0.35)
            a.link
              position absolute
              z-index 15
              width 100%
              height 100%
              top 0
              left 0
        .work-content
          float left
          max-width 360*s

      .columns
        .column
          &:not(:first-child)
            padding-left 10*s
          &:not(:last-child)
            padding-right 10*s

          .column-header
            float left
            margin-bottom 20*s
            h2
              width 100%
              float left
              text-align left
              background black
              color white
              text-transform uppercase
              font-size 32*s
              padding-left 25*s
              padding-right 25*s

          .column-content
            padding-left 25*s
            padding-right 25*s

      .input
        position relative
        width 100%
        float left
        margin-bottom 20*s

        .select
          height 45*s

        .checkbox
          height 45*s

        .button
          .btn
            width 100%

  #spacer
    float left
  #bottom
    #footer
      float left
  #messages
    z-index 20
    position fixed
    top 0
    right 0
    left 0
    height 0
    .message
      background white
      margin 8*s 0
      border-radius 3*s
      font-size 16*s
      box-shadow 0 2*s 6*s rgba(0,0,0,0.35)
      &.active
        opacity 1
      .message-a
        top 20*s
        right 20*s
        left 80*s
        bottom 20*s
        background white