@import url("reset.css");
@import url("my.css");
@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/PTSans-Narrow.eot");
  src: url("../fonts/PTSans-Narrow.eot?#iefix") format('embedded-opentype'), url("../fonts/PTSans-Narrow.woff") format('woff'), url("../fonts/PTSans-Narrow.ttf") format('truetype'), url("../fonts/PTSans-Narrow.svg") format('svg');
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/PTSans-NarrowBold.eot");
  src: url("../fonts/PTSans-NarrowBold.eot?#iefix") format('embedded-opentype'), url("../fonts/PTSans-NarrowBold.woff") format('woff'), url("../fonts/PTSans-NarrowBold.ttf") format('truetype'), url("../fonts/PTSans-NarrowBold.svg") format('svg');
  font-weight: bold;
}
html,
body {
  font: lighter 16px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  line-height: 1;
}
.centered {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:not([class]):not([id]) {
  text-decoration: underline;
  cursor: pointer;
}
a:not([class]):not([id]):link {
  text-decoration: underline;
}
a:not([class]):not([id]):visited {
  text-decoration: underline;
}
a:not([class]):not([id]):hover {
  text-decoration: none;
}
.table-schema > tbody > tr {
  vertical-align: middle;
}
.table-schema > tbody > tr > td,
.table-schema > tbody > tr > th,
.table-schema > thead > tr > td,
.table-schema > thead > tr > th {
  padding: 10px 5px;
  vertical-align: middle;
}
.table-schema > tbody > tr > td > span > *,
.table-schema > tbody > tr > th > span > *,
.table-schema > thead > tr > td > span > *,
.table-schema > thead > tr > th > span > * {
  vertical-align: baseline;
}
.table-schema > tbody > tr > td,
.table-schema > tbody > tr > th,
.table-schema > thead > tr > td,
.table-schema > thead > tr > th {
  min-height: 20px;
}
.table-schema > tbody > tr > th,
.table-schema > thead > tr > th {
  font-weight: bold;
}
.table-schema > tbody.tbody-lowpadding > tr > td,
.table-schema > tbody.tbody-lowpadding > tr > th {
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}
.table-schema > tbody.tbody-lowpadding > tr:first-child > td,
.table-schema > tbody.tbody-lowpadding > tr:first-child > th {
  padding-top: 10px !important;
}
.table-schema > tbody.tbody-lowpadding > tr:last-child > td,
.table-schema > tbody.tbody-lowpadding > tr:last-child > th {
  padding-bottom: 10px !important;
}
.table-schema > tbody.tbody-lowpadding:first-child > tr:first-child > td,
.table-schema > tbody.tbody-lowpadding:first-child > tr:first-child > th {
  padding-top: 10px !important;
}
.table-schema > tbody.tbody-lowpadding:last-child > tr:last-child > td,
.table-schema > tbody.tbody-lowpadding:last-child > tr:last-child > th {
  padding-bottom: 10px !important;
}
.table-contents {
  border: 1px solid #dedede;
}
.table-contents:not(:last-child) {
  margin-bottom: 40px;
}
.table-contents > thead > tr > th,
.table-contents > thead > tr > td {
  background: #fff;
}
.table-contents > tbody > tr > td,
.table-contents > thead > tr > td,
.table-contents > tbody > tr > th,
.table-contents > thead > tr > th {
  border-bottom: 1px solid #cecece;
}
.table-contents > tbody > tr:nth-child(even) > td,
.table-contents > tbody > tr:nth-child(even) > th {
  background: #f1f1f1;
}
.table-contents > tbody > tr:nth-child(odd) > td,
.table-contents > tbody > tr:nth-child(odd) > th {
  background: #f5f5f5;
}
.table-params:not(:last-child) {
  margin-bottom: 40px;
}
.table-params > tbody > tr > td,
.table-params > thead > tr > td,
.table-params > tbody > tr > th,
.table-params > thead > tr > th {
  border-bottom: 1px dotted #cecece;
}
.table-params > tbody > tr > td,
.table-params > thead > tr > td {
  padding: 5px;
  vertical-align: middle;
}
.table-params > tbody > tr > td:nth-child(1),
.table-params > thead > tr > td:nth-child(1),
.table-params > tbody > tr > th:nth-child(1),
.table-params > thead > tr > th:nth-child(1) {
  width: 40%;
}
.table-params > tbody > tr > td:nth-child(3),
.table-params > thead > tr > td:nth-child(3),
.table-params > tbody > tr > th:nth-child(3),
.table-params > thead > tr > th:nth-child(3) {
  width: 20%;
  font-weight: bold;
  text-align: right;
}
input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  font-size: 16px;
  font-family: $opensans;
  font-weight: 200;
  padding: 0 20px;
  height: 45px;
  text-align: left;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #e6e6e6;
  color: #2c2c2c;
}
input[type="text"]:not([disabled]):hover,
input[type="password"]:not([disabled]):hover,
textarea:not([disabled]):hover {
  border: 1px solid #cdcdcd;
}
input[type="text"]:not([disabled]):focus,
input[type="password"]:not([disabled]):focus,
textarea:not([disabled]):focus {
  border: 1px solid #b3b3b3;
}
.select {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background: url("../img/form-select-bg.jpg") center left;
}
.select:hover {
  border: 1px solid #cdcdcd;
}
.select:hover .button {
  border-left: 1px solid #cdcdcd;
}
.select:focus {
  border: 1px solid #b3b3b3;
}
.select:focus .button {
  border-left: 1px solid #b3b3b3;
}
.select select {
  -webkit-appearance: none;
  background: transparent;
  position: relative;
  float: left;
  z-index: 10;
  margin: 0 1px;
  padding: 0 45px 0 20px;
  font-size: 16px;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #2c2c2c;
}
.select .button {
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0;
  height: 100%;
  width: 45px;
  border-left: 1px solid #e6e6e6;
  background: url("../img/form-select-corner.png") center center no-repeat;
}
.checkbox {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.checkbox .field {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  width: 45px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #e6e6e6;
  color: #2c2c2c;
  line-height: 1;
  overflow: hidden;
}
.checkbox .field:not([disabled]):hover {
  border: 1px solid #cdcdcd;
}
.checkbox .field:not([disabled]):focus {
  border: 1px solid #b3b3b3;
}
.checkbox .field label {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.checkbox .field .checked {
  -webkit-animation-name: checkbox-check;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-timing-function: ease;
  animation-name: checkbox-check;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  top: 45px;
  position: absolute;
  width: 45px;
  height: 45px;
  background: url("../img/form-checkbox.png") center center no-repeat;
}
.checkbox .field input[type="checkbox"] {
  display: none;
}
.checkbox .field input[type="checkbox"]:checked ~ .checked {
  top: 0;
  -webkit-animation-name: checkbox-uncheck;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-timing-function: ease;
  animation-name: checkbox-uncheck;
  animation-duration: 0.2s;
  animation-timing-function: ease;
}
.checkbox .label {
  position: relative;
  float: left;
  padding-left: 55px;
  width: 100%;
  height: 100%;
}
.checkbox .label:hover ~ .field {
  border: 1px solid #cdcdcd;
}
.checkbox .label:focus ~ .field {
  border: 1px solid #b3b3b3;
}
textarea {
  text-align: left;
  padding: 12px 20px;
}
.btn {
  display: inline-block;
  word-wrap: break-word;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #fff;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  font-family: $opensans;
  color: #f0ffed;
  height: 45px;
  padding: 3px 14px 0 14px;
  text-align: center;
  border: 0;
  border-bottom: 3px solid #25731c;
  background: #318b26;
}
.btn > img {
  max-height: 80%;
  margin-right: 5px;
}
.btn:not([disabled]):hover {
  border: 0;
  border-bottom: 3px solid #184a12;
  background: #23631b;
  box-shadow: 0 0 4px rgba(255,255,255,0.75);
}
.btn:not([disabled]):active {
  border: 0;
  border-bottom: 3px solid #3fc530;
  background: #58cd4a;
  box-shadow: 0 0 6px rgba(255,255,255,0.95);
}
.btn:not([disabled]) {
  cursor: pointer;
}
.btn:hover,
.btn.active {
  text-decoration: none;
}
.btn span,
.btn img,
.btn i {
  vertical-align: middle;
}
.btn span > * {
  vertical-align: baseline;
}
.btn:not(:first-child) {
  margin-left: 5px;
}
.btn.btn-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn.btn-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn.btn-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn.btn-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#sp #background {
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #f1f1f1;
}
#sp #top .sheet {
  position: relative;
  background: #f8f8f8;
  padding-top: 20px;
  box-shadow: 0 10px 16px rgba(0,0,0,0.65);
}
#sp #top .sheet:not(:last-child) {
  margin-bottom: 20px;
}
#sp #top .sheet .sheet-header {
  float: left;
}
#sp #top .sheet .sheet-header .h2 h2 {
  float: left;
  padding-left: 25px;
  padding-right: 20px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
}
#sp #top .sheet .sheet-header .h3 {
  margin-top: 6px;
  margin-bottom: 6px;
}
#sp #top .sheet .sheet-header .h3 h3 {
  clear: both;
  float: left;
  padding-left: 25px;
  font-size: 22px;
}
#sp #top #messages {
  z-index: 5000;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 400px;
  position: fixed;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
#sp #top #messages .item {
  font-size: 14px;
  line-height: 1.25;
  display: inline-block;
  background: #fff;
  border-right: 4px solid #28f;
  box-shadow: 0 2px 6px rgba(0,0,0,0.35);
  width: 100%;
  margin-bottom: 10px;
  opacity: 1;
}
#sp #top #messages .item .e-center td {
  text-align: left;
  padding: 5px;
}
#sp #top #messages .item .e-center td:first-child {
  vertical-align: top;
  width: 40px;
  line-height: inherit;
  font-size: 200%;
}
#sp #top #messages .item.success,
#sp #top #messages .item.ok {
  border-right: 4px solid #2f8;
}
#sp #top #messages .item.success .e-center td:first-child,
#sp #top #messages .item.ok .e-center td:first-child {
  color: #fff;
  background: #2f8;
}
#sp #top #messages .item.message,
#sp #top #messages .item.note {
  border-right: 4px solid #28f;
}
#sp #top #messages .item.message .e-center td:first-child,
#sp #top #messages .item.note .e-center td:first-child {
  color: #fff;
  background: #28f;
}
#sp #top #messages .item.fail,
#sp #top #messages .item.error {
  border-right: 4px solid #f88;
}
#sp #top #messages .item.fail .e-center td:first-child,
#sp #top #messages .item.error .e-center td:first-child {
  color: #fff;
  background: #f88;
}
#sp #top #header {
  float: left;
  width: 100%;
  margin-bottom: 250px;
}
#sp #top #header h1 {
  float: left;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-left: 25px;
}
#sp #top #header .socials {
  float: right;
  height: 30px;
  line-height: 30px;
}
#sp #top #header .socials .social {
  display: block;
  float: left;
  height: 100%;
  padding: 0 5px;
  font-size: 20px;
  transition: background-color 0.2s ease, color 0.2s ease;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, color 0.2s ease;
  color: #000;
}
#sp #top #header .socials .social.vk {
  color: #45668e;
}
#sp #top #header .socials .social.vk:hover {
  color: #fff;
  background: #45668e;
}
#sp #top #header .socials .social.skype {
  color: #12a5f4;
}
#sp #top #header .socials .social.skype:hover {
  color: #fff;
  background: #12a5f4;
}
#sp #top #header .socials .social.phone {
  color: #000;
}
#sp #top #header .socials .social.phone:hover {
  color: #fff;
  background: #000;
}
#sp #top #header .socials .social.gmail {
  color: #b23121;
}
#sp #top #header .socials .social.gmail:hover {
  color: #fff;
  background: #b23121;
}
#sp #top #header .socials .social:not(:last-child) {
  margin-right: 5px;
}
#sp #top #index {
  float: left;
  width: 100%;
}
#sp #top #index .begin {
  margin-top: 100px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
#sp #top #index .begin .blockquote {
  float: right;
  position: relative;
  margin-right: 50px;
  width: 250px;
  height: 100px;
}
#sp #top #index .begin .blockquote .quotes {
  overflow: hidden;
  position: absolute;
  top: -90px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  color: #dedede;
  font-size: 400px;
  text-align: right;
  font-style: italic;
  font-family: "Times New Roman";
}
#sp #top #index .begin .blockquote .quotes .quote:nth-child(1) {
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 50px;
}
#sp #top #index .begin .blockquote .quotes .quote:nth-child(2) {
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 100px;
}
#sp #top #index .begin .blockquote .message {
  float: left;
  position: relative;
  z-index: 15;
}
#sp #top #index .begin .blockquote .message .text {
  font-size: 20px;
  color: #818181;
  margin-bottom: 15px;
}
#sp #top #index .begin .blockquote .message .author {
  color: #919191;
  font-size: 18px;
  text-align: right;
}
#sp #top #index .begin .photoborder {
  position: absolute;
  top: -200px;
  left: 50%;
  margin-left: -100px;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  border: 4px solid #fff;
}
#sp #top #index .begin .photo-input {
  display: none;
}
#sp #top #index .begin .photo-input:checked ~ .photo-label {
  border: 4px solid #fff;
  transform: scale(2);
}
#sp #top #index .begin .photo-label {
  position: absolute;
  top: -200px;
  left: 50%;
  margin-left: -100px;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  border: 4px solid #fff;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/photo600.jpg");
  background-color: #f8f8f8;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.35);
  transition: transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
}
#sp #top #index .begin .photo-label:hover {
  cursor: pointer;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.35), 0 0 10px rgba(18,165,244,0.65);
}
#sp #top #index .tab-contents .controls {
  float: left;
  overflow: hidden;
  background: #f8f8f8;
}
#sp #top #index .tab-contents .controls .tab-label {
  position: relative;
  z-index: 5;
  float: left;
  display: inline;
  height: 45px;
  padding: 10px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  background: #c1c1c1;
  color: #555;
}
#sp #top #index .tab-contents .controls .tab-label span {
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
}
#sp #top #index .tab-contents .controls .tab-label:hover span {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000;
}
#sp #top #index .tab-contents .controls .tab-label.active {
  z-index: 10;
  background: #f8f8f8;
  box-shadow: 0 -10px 12px rgba(0,0,0,0.35);
  color: #f00;
}
#sp #top #index .tab-contents .controls .tab-label.active span {
  border-bottom-width: 0;
}
#sp #top #index .tab-contents .scene {
  position: relative;
  overflow: hidden;
}
#sp #top #index .tab-contents .scene .tab-content {
  position: absolute;
  float: left;
  width: 100%;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  opacity: 0;
  z-index: 5;
}
#sp #top #index .tab-contents .scene .tab-content.active {
  opacity: 1;
  z-index: 10;
  position: relative;
}
#sp #top #index i {
  margin-right: 5px;
}
#sp #top #index .row {
  padding: 0 25px;
  margin-bottom: 40px;
}
#sp #top #index .row .row-header {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}
#sp #top #index .point {
  margin-bottom: 8px;
}
#sp #top #index .point i {
  vertical-align: -2px;
}
#sp #top #index .work {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}
#sp #top #index .work p {
  margin-bottom: 8px;
}
#sp #top #index .work .work-image {
  float: left;
  margin-right: 10px;
}
#sp #top #index .work .work-image .photo-wrapper {
  display: block;
  float: left;
  width: 200px;
  height: 200px;
  text-align: center;
  transition: transform 0.6s ease;
  -webkit-transition: transform 0.6s ease;
  -moz-transition: transform 0.6s ease;
  transform: scale(0.85);
}
#sp #top #index .work .work-image .photo-wrapper:hover {
  transform: scale(1);
}
#sp #top #index .work .work-image .photo-promise-shadow {
  position: absolute;
  z-index: 1;
  content: "";
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 20px;
  border-radius: 50px 10px;
  background: rgba(0,0,0,0.15);
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.15);
}
#sp #top #index .work .work-image .photo-outer-border {
  position: relative;
  z-index: 2;
  width: 200px;
  height: 200px;
  background: #fff;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  border: 1px solid #cecece;
  border-radius: 100px;
}
#sp #top #index .work .work-image .photo-outer-border:hover {
  box-shadow: 0 0 10px rgba(18,165,244,0.65);
}
#sp #top #index .work .work-image .photo-inner {
  width: 190px;
  height: 190px;
  margin: 5px;
  border-radius: 95px;
  position: relative;
  overflow: hidden;
}
#sp #top #index .work .work-image .photo-inner .photo-inner-shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.35);
  width: 190px;
  height: 190px;
  border-radius: 94px;
}
#sp #top #index .work .work-image .photo-inner .photo {
  position: relative;
  background: #f1f1f1;
  z-index: 5;
  float: left;
  width: 100%;
  height: 100%;
}
#sp #top #index .work .work-image .photo-inner .photo img {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 4px rgba(0,0,0,0.35);
}
#sp #top #index .work .work-image .photo-inner a.link {
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#sp #top #index .work .work-content {
  float: left;
  max-width: 360px;
}
#sp #top #index .columns .column:not(:first-child) {
  padding-left: 10px;
}
#sp #top #index .columns .column:not(:last-child) {
  padding-right: 10px;
}
#sp #top #index .columns .column .column-header {
  float: left;
  margin-bottom: 20px;
}
#sp #top #index .columns .column .column-header h2 {
  width: 100%;
  float: left;
  text-align: left;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
  padding-left: 25px;
  padding-right: 25px;
}
#sp #top #index .columns .column .column-content {
  padding-left: 25px;
  padding-right: 25px;
}
#sp #top #index .input {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
#sp #top #index .input .select {
  height: 45px;
}
#sp #top #index .input .checkbox {
  height: 45px;
}
#sp #top #index .input .button .btn {
  width: 100%;
}
#sp #spacer {
  float: left;
}
#sp #bottom #footer {
  float: left;
}
#sp #messages {
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
}
#sp #messages .message {
  background: #fff;
  margin: 8px 0;
  border-radius: 3px;
  font-size: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.35);
}
#sp #messages .message.active {
  opacity: 1;
}
#sp #messages .message .message-a {
  top: 20px;
  right: 20px;
  left: 80px;
  bottom: 20px;
  background: #fff;
}
