html {
  -webkit-text-size-adjust: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
#sp {
  position: relative;
  float: left;
  width: 100%;
  min-height: 100%;
  height: auto !important;
}
#sp #background {
  position: fixed;
  z-index: 5;
  background-position: top center;
  background-size: 100% auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#sp #top {
  position: relative;
  float: left;
  width: 100%;
  z-index: 10;
}
#sp #top #wrapper {
  position: relative;
  float: left;
  width: 100%;
}
#sp #top #wrapper #header {
  position: relative;
  float: left;
  width: 100%;
}
#sp #top #spacer {
  position: relative;
  float: left;
  width: 100%;
}
#sp #bottom {
  position: relative;
  float: left;
  width: 100%;
  bottom: 0;
  z-index: 50;
}
#sp #bottom #footer {
  position: relative;
  float: left;
  width: 100%;
}
#sp #blackscreen {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
}
#sp #blackscreen #modals {
  display: none;
  vertical-align: middle;
  position: relative;
  width: 100%;
  height: 100%;
}
#sp #blackscreen #modals .modal {
  opacity: 1;
  display: block;
}
#sp #blackscreen #modals .modal .off {
  display: none;
  opacity: 0;
}
.line {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  clear: both;
}
.centered {
  position: relative;
  display: block;
  margin: 0 auto;
  clear: both;
}
.dotted {
  text-decoration: none !important;
  border-bottom: 1px dotted;
}
.dotted:hover {
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table > thead > tr > td,
table > thead > tr > th,
table > tbody > tr > td,
table > tbody > tr > th {
  vertical-align: top;
  line-height: 1.25;
}
table.e-center {
  border: 0;
  width: 100%;
  height: 100%;
}
table.e-center > tbody > tr > td,
table.e-center > thead > tr > td {
  border: 0;
  vertical-align: middle;
}
textarea {
  resize: vertical;
}
img {
  max-width: 100%;
  height: auto;
  width: auto 9;
}
strong {
  font-weight: 700;
}
.to-left {
  text-align: left;
}
.to-center {
  text-align: center;
}
.to-right {
  text-align: right;
}
.to-justify {
  text-align: justify;
}
.columnslot .columns {
  margin-bottom: 0;
}
.columns {
  clear: both;
  margin-bottom: 40px;
}
.columns .column {
  float: left;
}
.columns.columns1 .column {
  width: 100%;
}
.columns.columns2 .column {
  width: 50%;
}
.columns.columns2 .column.colspan2 {
  width: 100%;
}
.columns.columns3 .column {
  width: 33.33333333%;
}
.columns.columns3 .column.colspan2 {
  width: 66.66666666%;
}
.columns.columns3 .column.colspan3 {
  width: 100%;
}
.columns.columns4 .column {
  width: 25%;
}
.columns.columns4 .column.colspan2 {
  width: 50%;
}
.columns.columns4 .column.colspan3 {
  width: 75%;
}
.columns.columns4 .column.colspan4 {
  width: 100%;
}
a,
b,
bold,
strong,
i,
italic,
em,
s,
strike,
u,
underline,
o,
overline,
font,
br,
img,
span,
label,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  vertical-align: baseline;
}
a > *,
b > *,
bold > *,
strong > *,
i > *,
italic > *,
em > *,
s > *,
strike > *,
u > *,
underline > *,
o > *,
overline > *,
font > *,
br > *,
img > *,
span > *,
label > *,
input > *,
select > *,
textarea > *,
h1 > *,
h2 > *,
h3 > *,
h4 > *,
h5 > *,
h6 > * {
  vertical-align: inherit;
}
b,
bold,
strong {
  display: inline;
  font-weight: bold;
}
i,
italic,
em {
  display: inline;
  font-style: italic;
}
u,
underline {
  display: inline;
  text-decoration: none;
  border-bottom: 1px solid;
}
u,
underline {
  display: inline;
  text-decoration: none;
  border-bottom: 1px solid;
}
o,
overline {
  display: inline;
  text-decoration: none;
  border-top: 1px solid;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
  background: transparent !important;
  background-color: transparent !important;
  background-image: none !important;
  color: inherit !important;
}
