s = 1px

html
  -webkit-text-size-adjust none

html, body
  width 100%
  height 100%

#sp
  position relative
  float left
  width 100%
  min-height 100%
  height auto !important

  #background
    position fixed
    z-index 5
    background-position top center
    background-size 100% auto
    top 0
    left 0
    right 0
    bottom 0

  #top
    position relative
    float left
    width 100%
    z-index 10

    #wrapper
      position relative
      float left
      width 100%

      #header
        position relative
        float left
        width 100%

    #spacer
      position relative
      float left
      width 100%

  #bottom
    position relative
    float left
    width 100%
    bottom 0
    z-index 50

    #footer
      position relative
      float left
      width 100%

  #blackscreen
    display none
    position fixed
    z-index 100
    width 100%
    height 100%

    #modals
      display none
      vertical-align middle
      position relative
      width 100%
      height 100%

      .modal
        opacity 1
        display block
        .off
          display none
          opacity 0

.line
  position relative
  float left
  display block
  width 100%
  clear both

.centered
  position relative
  display block
  margin 0 auto
  clear both

.dotted
  text-decoration none !important
  border-bottom 1px dotted
  &:hover
    border-bottom 1px solid transparent
    cursor pointer

table
  border-collapse collapse
  border-spacing 0
  width 100%
  & > thead > tr > td
  & > thead > tr > th
  & > tbody > tr > td
  & > tbody > tr > th
    vertical-align top
    line-height 1.25
  &.e-center
    border 0
    width 100%
    height 100%
    & > tbody > tr > td
    & > thead > tr > td
      border 0
      vertical-align middle

textarea
  resize vertical

img
  max-width 100%
  height auto
  width auto\9

strong
  font-weight 700

.to-left
  text-align left

.to-center
  text-align center

.to-right
  text-align right

.to-justify
  text-align justify

.columnslot
  .columns
    margin-bottom 0

.columns
  clear both
  margin-bottom 40*s
  .column
    float left
  &.columns1
    .column
      width 100%
  &.columns2
    .column
      width 50%
      &.colspan2
        width 100%
  &.columns3
    .column
      width 33.33333333%
      &.colspan2
        width 66.66666666%
      &.colspan3
        width 100%
  &.columns4
    .column
      width 25%
      &.colspan2
        width 50%
      &.colspan3
        width 75%
      &.colspan4
        width 100%

a,
b,
bold,
strong,
i,
italic,
em,
s,
strike,
u,
underline,
o,
overline,
font,
br,
img,
span,
label,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6
  vertical-align baseline
  & > *
    vertical-align inherit

b, bold, strong
  display inline
  font-weight bold

i, italic, em
  display inline
  font-style italic

u, underline
  display inline
  text-decoration none
  border-bottom 1*s solid

u, underline
  display inline
  text-decoration none
  border-bottom 1*s solid

o, overline
  display inline
  text-decoration none
  border-top 1*s solid

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover
  background transparent !important
  background-color transparent !important
  background-image none !important
  color inherit !important