* {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  outline: 0;
  outline-offset: 0;
  text-align: inherit;
  vertical-align: inherit;
  background: transparent;
  color: inherit;
  font: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  cursor: inherit;
  line-height: inherit;
}
body {
  line-height: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol {
  list-style-type: none;
}
ul {
  list-style-type: disc;
}
ol,
ul {
  display: block;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bolder;
}
em {
  font-style: italic;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
  background: transparent !important;
  background-color: transparent !important;
  background-image: none !important;
  color: #000 !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
input[type="submit"],
input[type="button"],
input[type="image"],
input[type="reset"] {
  cursor: pointer;
}
*:focus {
  outline-style: none;
}
